@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Helvetica Neue", sans-serif;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.push-effect {
  transition: transform 0.2s ease-in-out;
}

.push-effect:hover {
  transform: translateY(2px);
}
